body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f2f2f2;
  background: linear-gradient(45deg, yellow, orange);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 36px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.task-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 18px;
  text-align: center;
  color: #666;
  margin-bottom: 10px;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: olivedrab;
}

.task-lists {
  display: flex;
  justify-content: center;
  gap: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;

  
}

li {
  margin: 10px;
  padding: 20px;
 
}
.complete{
flex-grow: 2;
}
.incomplete{
flex-grow: 2;
}

completeBtn, editBtn{
  padding: 20px;
  margin: 20px;
  align-items: center;
  text-align: center;
}
li{
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: orange;
  border-radius: 30px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
}

.complete-btn,
.edit-btn {
  padding: 5px 10px;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.complete-btn:hover,
.edit-btn:hover {
  background-color: olivedrab;
}

.delete-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s ease;
}

.delete-btn:hover {
  opacity: 0.7;
}
#task-input{
  border: 0.5px solid orange;
  /* font-size: 20px; */
  padding: 10px;
  margin: 2px;
  border-radius: 25px;
  width: 80%;
  cursor: pointer;
  
}
#task-input ::placeholder{
  color: black;
  font-style: italic;
}
.completed{
  text-decoration: line-through;
  opacity: 0.6;
  background-color: orange;
  border-radius: 40px;
  width: 90%;
}
